/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.AltSchool-logo img {
    max-width: 200px;
    height: auto;
}

section {
    margin-bottom: 20px;
}

.table-container {
    overflow-x: auto; /* Ensures the table is scrollable on smaller screens */
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

caption {
    font-size: 1.5em;
    margin: 10px 0;
    text-align: center;
    color: #333;
}

thead th {
    background-color: #490606f5;
    color: #fff;
    padding: 12px;
    text-align: left;
    border-bottom: 2px solid #ddd;
}

tbody td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

th, td {
    border: 1px solid #ddd;
}

.group1 td, .group2 td, .group3 td {
    padding: 10px;
}

nav {
    margin-top: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 10px;
}

nav a {
    color: #007bff;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

nav strong {
    font-weight: bold;
}